<%- include('../dashboard/header') %>
		<%- include('../dashboard/sidebar') %>
		
<script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
<main class="content">
	<div class="container-fluid">
		<div class="content-header">
			<h1>Add Paragraph</h1>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="dashboard-1.html">Chức năng</a></li>
					<li class="breadcrumb-item active">Unit</li>
				</ol>
			</nav>
		</div>

		<div class="row">
			<div class="col-lg-9">
				<form class="box needs-validation" novalidate id="formCreateQuestion"
					enctype="multipart/form-data" action="/paragraph" method="POST">
					<div class="box-header">
						<h3>Add Paragraph <span class="numberCountQuestion">1</span></h3>
					</div>
					<div class="box-body">
						<div class="form-group row">
							<label for="jsValidationRequired" class="form-label col-2" >Unit</label>
							<div class="col-9">
								<select id="listUnit" required class="form-control onChangeExam" >
									<option value>Choose Unit</option>
											
										<% if (listUnit && listUnit.length) { %>
											<% listUnit.forEach(unit => { %>
									<option value="<%=unit._id%>"><%=unit.name%></option>
										<% }) %>
									<% } %>
												
								</select>
							</div>
						</div>
						
						<div class="form-group row">
							<label class="form-label col-2">Paragraph</label>
							<div class="col-9">
								<input class="form-control" autocomplete="off" name="editor1" id="english">
							</div>
						</div>
						<div class="form-group row">
							<label class="form-label col-2">Translate</label>
							<div class="col-9">
								<input class="form-control" autocomplete="off" name="editor2" id="tiengvietese">
							</div>
						</div>
						
                        <div class="form-group row">
							<label class="form-label col-2">Tải hình ảnh</label>
                            <div class="col-9">
							    <input id="image" type="file" name="image" class="form-control">
                            </div>
						</div>

					<div class="box-footer">
						<button class="btn btn-primary pull-right btnCreateParagraph" type="submit">Add Paragraph</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</main>

<%- include('../dashboard/footer') %>
<script>

	// //Add Paragraph ---------------> 
	$(document).on('click', '.btnCreateParagraph', function(e) {
		e.preventDefault();
        let unitID = 		$('#listUnit').val();
		let english = 		$('#english').val();
		let tiengvietese = $('#tiengvietese').val();

		let formData = new FormData();
		let _imageDemo = $('#image')[0].files[0];

		formData.append('unitID', unitID);
		formData.append('english', english);
		formData.append('tiengvietese', tiengvietese);
		if(_imageDemo){
			formData.append('image', _imageDemo);
		}
		console.log({unitID, english, image, tiengvietese});
				$.ajax({
					url: `/paragraph/add-paragraph`,
					method: 'POST',
					data: formData,
					enctype: 'multipart/form-data',
					processData: false,
        			contentType: false,
					success: resp => {
						console.log({ resp })
						if(!resp.error){
							toastr['success']('Thêm thành công', 'Thông báo');
							
						}else{
							return toastr['error']('Thêm thất bại', 'Thông báo');
						}
					},
					error: err => console.log({ err })
				});
	});

       


		
		

	// //Xóa câu hỏi --------------->
	// $(document).on('click', '.btnRemoveQuestion', function(e) {
	// 	e.preventDefault();
	// 	let examID = $(this).attr('_examID');
	// 	let questionID = $(this).attr('_questionID');
	// 	console.log({ examID, questionID})

	// 	if (window.confirm('Bạn có chắc chắn xóa không?')) {
    //         $.ajax({
	// 			url: `/question/remove-question/${questionID}?examID=${examID}`,
	// 			method: 'GET',
	// 			success: resp => {

	// 				console.log({ resp })

	// 				if(!resp.error){

	// 					$(this).closest("tr").remove();
	// 					return toastr['success']('Xóa thành công', 'Thông báo');

	// 				}else{

	// 					return toastr['error']('Xóa thất bại', 'Thông báo');
	// 				}
	// 			},
	// 			error: err => console.log({ err })
	// 		});
    //     }
    // })

	// //Lấy ID truyền vào button xem trước --------------->
	// $(document).on('change', '.onChangeExam', function() {
	// 	let examID = $('#examID').val();
	// 	let hrefExam = $('.hrefExam').attr('_examID', examID)
	// })

	//Sự kiện chuyển đến trang trắc nghiệm --------------->
	// $(document).on('click', '.hrefExam', function(e) {
	// 	e.preventDefault();
	// 	let examID = $(this).attr('_examID');

	// 	if(!examID){

	// 		return toastr['warning']('Bạn chưa chọn bộ đề muốn xem', 'Thông báo');

	// 	} else {
			
	// 		let _urlTemp = `/test-exam?examID=${examID}`
	// 		window.open(_urlTemp, '_blank');

	// 	}
	// })

</script>
