<%- include('../dashboard/header') %>
		<%- include('../dashboard/sidebar') %>
		
        <main class="content">
			<div class="container-fluid">
				<div class="content-header">
					<h1>Chức năng</h1>
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="dashboard-1.html">Chức năng</a></li>
							<li class="breadcrumb-item active">Unit</li>
						</ol>
					</nav>
				</div>

				<div class="row">
					<div class="col-lg-6">
						<form class="box needs-validation" novalidate>
							<div class="box-header">
								<h3>Thêm Unit</h3>
							</div>
							<div class="box-body">
								<div class="form-group row">
									<label for="jsValidationLengthMin" class="form-label col-3">Chọn khoá học</label>
									<div class="col-9">
										<select id="courseID" required="" class="form-control">
											<option value="">Chọn Khoá học</option>
											<% listCourse && listCourse.length && listCourse.forEach(course => { %>
											 	<option value="<%=course._id%>"><%=course.name%> </option>
											<% }) %>
										</select>
									</div>
								</div>
								<div class="form-group row">
									<label for="jsValidationLengthMin" class="form-label col-3">Tên Unit</label>
									<div class="col-9">
										<input id="name-unit" type="text" class="form-control" autocomplete="off" placeholder='Unit ...'>
									</div>
								</div>
								
								
							</div>
							<div class="box-footer">
								<button class="btn btn-primary pull-right btnAddUnit">Thêm</button>
							</div>
						</form>
					</div>
                    
				</div>
			</div>
		</main>
<%- include('../dashboard/footer') %>

 <script>
       
    $(document).on('click', '.btnAddUnit', function(e) {
		e.preventDefault();
		
        
		let courseID = $('#courseID').val();
        let name        = $('#name-unit').val().trim();
        
        if(!name && !courseID){
            return toastr['error']('Tên bộ đề không được để trống', 'Thông báo');
        } 

		$.ajax({
			url: `/unit/insert-unit`,
			method: 'POST',
			data: { name, courseID },
			success: resp => {
				console.log({ resp })
				if(!resp.error){
					toastr['success']('Thêm thành công', 'Thông báo');
					setTimeOut(function(){
						window.location.	();
					}, 500)
				}else{
					return toastr['error']('Thêm thất bại', 'Thông báo');
				}
			},
			error: err => console.log({ err })
		});
    })

 </script>