<%- include('../dashboard/header') %>
		<%- include('../dashboard/sidebar') %>
		<header class="header">
			<ul class="header-nav">
				<li>
					<button id="js-toggle-sidebar" class="header-nav-item">
						<i class="fas fa-bars"></i>
					</button>
				</li>
			</ul>
			<ul class="header-nav d-none d-sm-flex">
				<li>
					<a href="/" class="header-nav-item">Trang chủ</a>
					
				</li>
				<li>
					<a href="#" data-dropdown class="header-nav-item">Liên hệ</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" target="_blank" href="https://www.facebook.com/TOTHANHDAT.TTD">Facebook</a></li>
						<li><a class="dropdown-item" target="_blank" href="https://www.messenger.com/t/TOTHANHDAT.TTD">Messenger</a></li>
						<li><a class="dropdown-item" href="">Email: lttn.py@gmail.com</a></li>
					</ul>
				</li>
			</ul>
			
			<ul class="header-nav pull-right">
				<li>
					<a href="#" data-dropdown class="header-nav-item">
						<i class="far fa-envelope"></i>
						<span class="badge badge-pill badge-success">2</span>
					</a>
					<ul class="dropdown-menu px-20 py-10">
						<li class="message">
							<div class="avatar avatar-sm">
								<img src="../dashboard/images/avatar-3.jpg" alt="">
							</div>
							<div class="message-content">
								<div class="message-bubble">
									<p>Hello, John!</p>
								</div>
								<small class="text-secondary text-sm">Today, 10:31</small>
							</div>
							<div class="message-actions">
								<button><i class="far fa-trash-alt"></i></button>
								<button><i class="far fa-flag"></i></button>
							</div>
						</li>
						<li class="message">
							<div class="avatar avatar-sm">
								<img src="../dashboard/images/avatar-3.jpg" alt="">
							</div>
							<div class="message-content">
								<div class="message-bubble">
									<p>What about our project?</p>
								</div>
								<small class="text-secondary text-sm">Today, 10:32</small>
							</div>
							<div class="message-actions">
								<button><i class="far fa-trash-alt"></i></button>
								<button><i class="far fa-flag"></i></button>
							</div>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" data-dropdown class="header-nav-item">
						<i class="far fa-bell"></i>
						<span class="badge badge-pill badge-primary">3</span>
					</a>
					<ul class="dropdown-menu px-20 py-10">
						<li class="event-column event-column-success">
							<div class="event-content">
								<small class="text-secondary"><i class="far fa-envelope"></i> From example@gmail.com</small>
								<p><a href="#">Alex White</a> sent you an email.</p>
							</div>
							<small class="text-secondary pull-right">1 hr.</small>
						</li>
						<li class="event-column event-column-primary">
							<div class="event-content">
								<small class="text-secondary"><i class="fas fa-thumbtack"></i> New task</small>
								<p><b>To <a href="#">John Doe</a>: new API methods.</b></p>
								<p class="text-secondary text-sm">Implement new API methods for mobile app.</p>
							</div>
							<small class="text-secondary pull-right">7 min.</small>
						</li>
						<li class="event-column event-column-secondary">
							<div class="event-content">
								<small class="text-secondary"><i class="far fa-bell"></i> Notification</small>
								<p><a href="#">Alex White</a> joined to project</p>
							</div>
							<small class="text-secondary pull-right">now</small>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" id="js-enter-fullscreen" class="header-nav-item">
						<i class="fas fa-expand-arrows-alt"></i>
					</a>
				</li>
				<li>
					<a href="#" data-dropdown class="user-panel">
						<div class="user-panel-image">
							<div class="avatar avatar-sm">
								<img src="../dashboard/images/avatar-0.jpg" alt="">
							</div>
						</div>
						<div class="user-panel-info">
							<small>Xin chào</small>
							<p>Admin</p>
						</div>
					</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="page-profile.html"><i class="far fa-user"></i> Profile</a></li>
						<li class="dropdown-divider"></li>
						<li><a class="dropdown-item" href="/logout"><i class="fas fa-power-off"></i> Logout</a></li>
					</ul>
				</li>
			</ul>
		</header>
		<main class="content">
			<div class="container-fluid">
				<div class="content-header content-header-scene">
					<h1>LTTN Trang chủ <small>Đăng nhập lần cuối: 03:00 21, July</small></h1>
				</div>
<script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
<main class="content">
	<div class="container-fluid">
		<div class="content-header">
			<h1>Add Vocabulary</h1>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="dashboard-1.html">Chức năng</a></li>
					<li class="breadcrumb-item active">Unit</li>
				</ol>
			</nav>
		</div>

		<div class="row">
			<div class="col-lg-9">
				<form class="box needs-validation" novalidate id="formCreateQuestion"
					enctype="multipart/form-data" action="/vocabulary" method="POST">
					<div class="box-header">
						<h3>Add Vocabulary <span class="numberCountQuestion">1</span></h3>
					</div>
					<div class="box-body">
						<div class="form-group row">
							<label for="jsValidationRequired" class="form-label col-2" >Unit</label>
							<div class="col-9">
								<select id="listUnit" required class="form-control onChangeExam" >
									<option value>Choose Unit</option>
											
										<% if (listUnit && listUnit.length) { %>
											<% listUnit.forEach(unit => { %>
									<option value="<%=unit._id%>"><%=unit.name%></option>
										<% }) %>
									<% } %>
												
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label class="form-label col-2">Vocabulary</label>
							<div class="col-9">
								<textarea name="editor1" id="english"></textarea>
							</div>
						</div>
						<div class="form-group row">
							<label class="form-label col-2">Translate</label>
							<div class="col-9">
								<textarea name="editor2" id="tiengvietese"></textarea>
							</div>
						</div>
						<div class="form-group row">
							<label class="form-label col-2">Spelling</label>
							<div class="col-9">
								<textarea name="editor3" id="spelling"></textarea>
							</div>
						</div>
                        <div class="form-group row">
							<label class="form-label col-2">Tải hình ảnh</label>
                            <div class="col-9">
							    <input id="image" type="file" name="image" class="form-control">
                            </div>
						</div>

					<div class="box-footer">
						<button class="btn btn-primary pull-right btnCreateVocabulary" type="submit">Add vocabulary</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</main>

<%- include('../dashboard/footer') %>
<script>

	// //Add Vocabulary ---------------> 
	$(document).on('click', '.btnCreateVocabulary', function(e) {
		e.preventDefault();

        let unitID = 		$('#unitID').val();
		let english = 		$('#english').val();
		let tiengvietese = $('#tiengvietese').val();
		let image = 		$('#image').val();
		let spelling = 		$('#spelling').val();

		$.ajax({
			url: `/vocabulary/add-vocabulary`,
			method: 'POST',
			data: { unitID, english, image, tiengvietese, spelling },
			success: resp => {
				console.log({ resp })
				if(!resp.error){
					toastr['success']('Thêm thành công', 'Thông báo');
					setTimeout(function(){ window.location.reload(); }, 700);
				}else{
					return toastr['error']('Thêm thất bại', 'Thông báo');
				}
			},
			error: err => console.log({ err })
		});
	});

       


		
		

	// //Xóa câu hỏi --------------->
	// $(document).on('click', '.btnRemoveQuestion', function(e) {
	// 	e.preventDefault();
	// 	let examID = $(this).attr('_examID');
	// 	let questionID = $(this).attr('_questionID');
	// 	console.log({ examID, questionID})

	// 	if (window.confirm('Bạn có chắc chắn xóa không?')) {
    //         $.ajax({
	// 			url: `/question/remove-question/${questionID}?examID=${examID}`,
	// 			method: 'GET',
	// 			success: resp => {

	// 				console.log({ resp })

	// 				if(!resp.error){

	// 					$(this).closest("tr").remove();
	// 					return toastr['success']('Xóa thành công', 'Thông báo');

	// 				}else{

	// 					return toastr['error']('Xóa thất bại', 'Thông báo');
	// 				}
	// 			},
	// 			error: err => console.log({ err })
	// 		});
    //     }
    // })

	// //Lấy ID truyền vào button xem trước --------------->
	// $(document).on('change', '.onChangeExam', function() {
	// 	let examID = $('#examID').val();
	// 	let hrefExam = $('.hrefExam').attr('_examID', examID)
	// })

	//Sự kiện chuyển đến trang trắc nghiệm --------------->
	// $(document).on('click', '.hrefExam', function(e) {
	// 	e.preventDefault();
	// 	let examID = $(this).attr('_examID');

	// 	if(!examID){

	// 		return toastr['warning']('Bạn chưa chọn bộ đề muốn xem', 'Thông báo');

	// 	} else {
			
	// 		let _urlTemp = `/test-exam?examID=${examID}`
	// 		window.open(_urlTemp, '_blank');

	// 	}
	// })

</script>
