
<%- include ('../partials/header') %>
<div class="col-sm-16 col-md-18">
        <div id="breadcrumbs_mobile" class="col-xs-24 col-sm-24 box-coll hidden-lg hiddent-md ">
            <div class="col-xs-20 col-sm-20 title"></div>
        </div>
        <div class="clearfix"></div>
        <div class="detail view-list">
            
            <div class="panel panel-default">
                <div class="panel-heading">COURSE: <%=infoCourse && infoCourse.name %></div>
                <div class="panel-body">
                    <h2>Please Select Unit:</h2> 
                    <% listUnit.forEach(unit => { %>
                    <br><a href="/unit/detail/?unitID=<%=unit._id%>"> <%= unit.name %> </a>
                    <% }) %>
                </div>
                    
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="socialicon list-inline">
                        <li class="facebook">
                            <div class="fb-like fb_iframe_widget" data-href="" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=73&amp;href=http%3A%2F%2Flocalhost%3A3000%2Fexam%3FexamID%3D5ee5f79dfa430106f4296452&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=true&amp;show_faces=false"><span style="vertical-align: bottom; width: 150px; height: 28px;"><iframe name="f2f9bc86c379d68" width="1000px" height="1000px" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Dfcf9e0dadf72e4%26domain%3Dlocalhost%26origin%3Dhttp%253A%252F%252Flocalhost%253A3000%252Ff34efa3a650a70c%26relation%3Dparent.parent&amp;container_width=73&amp;href=http%3A%2F%2Flocalhost%3A3000%2Fexam%3FexamID%3D5ee5f79dfa430106f4296452&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=true&amp;show_faces=false" style="border: none; visibility: visible; width: 150px; height: 28px;" class=""></iframe></span></div>
                        </li>
                        <li>

                            <div class="zalo-share-button" data-href="" data-oaid="" data-layout="1" data-color="blue" data-customize="false"></div>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="idcomment" class="nv-fullbg">
                        <div class="row clearfix margin-bottom-lg">
                            <div class="col-xs-12 text-left">
                                <p class="comment-title"><em class="fa fa-comments">&nbsp;</em> Ý kiến bạn đọc</p>
                            </div>
                            <div class="col-xs-12 text-right">
                                <select id="sort" class="form-control">
                                    <option value="0" selected="selected">Sắp xếp theo bình luận mới</option>
                                    <option value="1">Sắp xếp theo bình luận cũ</option>
                                    <option value="2">Sắp xếp theo số lượt thích</option>
                                </select>
                            </div>
                        </div>
                        <div id="formcomment" class="comment-form">
                            <form method="post" role="form" target="submitcommentarea" action="" data-module="test" data-content="test_commentcontent" data-area="80" data-id="47" data-allowed="4" data-checkss="2c6526a34e17105e4228e090ae9d7d7a" data-gfxnum="0" data-editor="0">
                                <input type="hidden" name="module" value="test">
                                <input type="hidden" name="area" value="80">
                                <input type="hidden" name="id" value="47">
                                <input type="hidden" id="commentpid" name="pid" value="0">
                                <input type="hidden" name="allowed" value="4">
                                <input type="hidden" name="checkss" value="2c6526a34e17105e4228e090ae9d7d7a">
                                <div class="form-group clearfix">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <input id="commentname" type="text" name="name" value="Nguyễn Văn A" disabled="disabled" class="form-control" placeholder="Tên của bạn">
                                        </div>
                                        <div class="col-xs-12">
                                            <input id="commentemail_iavim" type="text" name="email" value="a@gmail.com" disabled="disabled" class="form-control" placeholder="Email">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group clearfix">
                                    <textarea class="form-control" style="width: 100%" name="content" id="commentcontent" cols="20" rows="5"></textarea>
                                </div>
                                <div class="form-group text-center">
                                    <input id="reset-cm" type="button" value="Thiết lập lại" class="btn btn-default">
                                    <input id="buttoncontent" type="submit" value="Gửi bình luận" class="btn btn-primary">
                                </div>
                            </form>
                            <iframe class="hidden" id="submitcommentarea" name="submitcommentarea"></iframe>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
<%- include ('../partials/sidebar') %>
<%- include ('../partials/footer') %>

