<%- include ('../partials/header') %>
<section>
   <div class="container-fluid" id="body">
      
      
      <div class="row" id="test">
         <div class="col-sm-16 col-md-18">
            <div class="test">
            <% listExam.forEach(exam => { %>
               <div class="test viewlist">
                  <div class="panel panel-default">
                     <div class="panel-body">
                        <div class="image pull-left">
                           <a href="/test-exam/?examID=<%=exam._id%>" >
                              <img src="assets/ehutech.tech/test/2019/images/duongloi/e.jpg" class="img-thumbnail"  />
                           </a>
                        </div>
                        <h2>
                           <a href="/begin-exam/?examID=<%=exam._id%>"><%=exam.name %></a>
                        </h2>
                     </div>
                  </div>
               </div>
            <% }) %>

               <div class="text-center">
                  <ul class="pagination">
                     <li class="disabled"><a href="#">&laquo;</a></li>
                     <li class="active"><a href="#">1</a></li>
                     <li><a rel="next" title="Trắc nghiệm  -  Trang 2" href="">2</a></li>
                     <li class="disabled"><span>...</span></li>
                     <li><a rel="next" title="Trắc nghiệm  -  Trang 16" href="">16</a></li>
                     <li><a rel="next" title="Trắc nghiệm  -  Trang 2" href="">&raquo;</a></li>
                  </ul>
               </div>
            </div>
         </div>
<%- include ('../partials/sidebar') %>
<%- include ('../partials/footer') %>