<%- include ('../partials/header') %>
<section>
   <div class="container-fluid" id="body">
      
      
      <div class="row" id="test">
         <div class="col-sm-16 col-md-18">
            <div class="test">
            <% listCourse.forEach(course => { %>
               <div class="test viewlist">
                  <div class="panel panel-default">
                     <div class="panel-body">
                        <div class="image pull-left">
                           <a href="/course/detail/?courseID=<%=course._id%>" >
                              <img src="assets/ehutech.tech/test/2019/images/duongloi/e.jpg" class="img-thumbnail"  />
                           </a>
                        </div>
                        <h2>
                           <a href="/course/detail/?courseID=<%=course._id%>"><%=course.name %></a>
                        </h2>
                     </div>
                  </div>
               </div>
            <% }) %>

               <div class="text-center">
                  <ul class="pagination">
                     <li class="disabled"><a href="#">&laquo;</a></li>
                     <li class="active"><a href="#">1</a></li>
                     <li><a rel="next" title="Trắc nghiệm  -  Trang 2" href="/vi/test/page-2/">2</a></li>
                     <li class="disabled"><span>...</span></li>
                     <li><a rel="next" title="Trắc nghiệm  -  Trang 16" href="/vi/test/page-16/">16</a></li>
                     <li><a rel="next" title="Trắc nghiệm  -  Trang 2" href="/vi/test/page-2/">&raquo;</a></li>
                  </ul>
               </div>
            </div>
         </div>
<%- include ('../partials/sidebar') %>
<%- include ('../partials/footer') %>
<script>
   $(document).on('click', '.btnDangNhap', function(e) {
       e.preventDefault();
       let email = $('#email').val().trim();
       let password = $('#password').val().trim();
   
       if (!email || !password) {
           toastr['warning']('Email hoặc mật khẩu không được để trống', 'Thông báo');
       } else {
           $.ajax({
               url: `/user/login`,
               method: 'POST',
               data: {
                   email, password
               },
               success: resp => {
   
                   //console.log({ resp })
   
                   if (!resp.error) {
                       toastr['success']('Đăng nhập thành công', 'Thông báo');
                       setTimeout(function(){ 
                           location.href = `/`;
                       }, 500);
   
                   } else {
   
                       return toastr['warning']('Email hoặc mật khẩu không chính xác', 'Thông báo');
                   }
               },
               error: err => console.log({
                   err
               })
           });
       }
   })
   
   // $(document).on('click', '.btnRegister', function(e) {
   //     e.preventDefault();
   //     location.href = "/register"
   // })
   
</script>