
		<%- include('../dashboard/header') %>
		<%- include('../dashboard/sidebar') %>
		<header class="header">
			<ul class="header-nav">
				<li>
					<button id="js-toggle-sidebar" class="header-nav-item">
						<i class="fas fa-bars"></i>
					</button>
				</li>
			</ul>
			<ul class="header-nav d-none d-sm-flex">
				<li>
					<a href="/" class="header-nav-item">Trang chủ</a>
					
				</li>
				<li>
					<a href="#" data-dropdown class="header-nav-item">Liên hệ</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" target="_blank" href="https://www.facebook.com/TOTHANHDAT.TTD">Facebook</a></li>
						<li><a class="dropdown-item" target="_blank" href="https://www.messenger.com/t/TOTHANHDAT.TTD">Messenger</a></li>
						<li><a class="dropdown-item" href="">Email: lttn.py@gmail.com</a></li>
					</ul>
				</li>
			</ul>
			
			<ul class="header-nav pull-right">
				<li>
					<a href="#" data-dropdown class="header-nav-item">
						<i class="far fa-envelope"></i>
						<span class="badge badge-pill badge-success">2</span>
					</a>
					<ul class="dropdown-menu px-20 py-10">
						<li class="message">
							<div class="avatar avatar-sm">
								<img src="../dashboard/images/avatar-3.jpg" alt="">
							</div>
							<div class="message-content">
								<div class="message-bubble">
									<p>Hello, John!</p>
								</div>
								<small class="text-secondary text-sm">Today, 10:31</small>
							</div>
							<div class="message-actions">
								<button><i class="far fa-trash-alt"></i></button>
								<button><i class="far fa-flag"></i></button>
							</div>
						</li>
						<li class="message">
							<div class="avatar avatar-sm">
								<img src="../dashboard/images/avatar-3.jpg" alt="">
							</div>
							<div class="message-content">
								<div class="message-bubble">
									<p>What about our project?</p>
								</div>
								<small class="text-secondary text-sm">Today, 10:32</small>
							</div>
							<div class="message-actions">
								<button><i class="far fa-trash-alt"></i></button>
								<button><i class="far fa-flag"></i></button>
							</div>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" data-dropdown class="header-nav-item">
						<i class="far fa-bell"></i>
						<span class="badge badge-pill badge-primary">3</span>
					</a>
					<ul class="dropdown-menu px-20 py-10">
						<li class="event-column event-column-success">
							<div class="event-content">
								<small class="text-secondary"><i class="far fa-envelope"></i> From example@gmail.com</small>
								<p><a href="#">Alex White</a> sent you an email.</p>
							</div>
							<small class="text-secondary pull-right">1 hr.</small>
						</li>
						<li class="event-column event-column-primary">
							<div class="event-content">
								<small class="text-secondary"><i class="fas fa-thumbtack"></i> New task</small>
								<p><b>To <a href="#">John Doe</a>: new API methods.</b></p>
								<p class="text-secondary text-sm">Implement new API methods for mobile app.</p>
							</div>
							<small class="text-secondary pull-right">7 min.</small>
						</li>
						<li class="event-column event-column-secondary">
							<div class="event-content">
								<small class="text-secondary"><i class="far fa-bell"></i> Notification</small>
								<p><a href="#">Alex White</a> joined to project</p>
							</div>
							<small class="text-secondary pull-right">now</small>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" id="js-enter-fullscreen" class="header-nav-item">
						<i class="fas fa-expand-arrows-alt"></i>
					</a>
				</li>
				<li>
					<a href="#" data-dropdown class="user-panel">
						<div class="user-panel-image">
							<div class="avatar avatar-sm">
								<img src="../dashboard/images/avatar-0.jpg" alt="">
							</div>
						</div>
						<div class="user-panel-info">
							<small>Xin chào</small>
							<p>Admin</p>
						</div>
					</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="page-profile.html"><i class="far fa-user"></i> Profile</a></li>
						<li class="dropdown-divider"></li>
						<li><a class="dropdown-item" href="/logout"><i class="fas fa-power-off"></i> Logout</a></li>
					</ul>
				</li>
			</ul>
		</header>
		<main class="content">
			<div class="container-fluid">
				<div class="content-header content-header-scene">
					<h1>LTTN Trang chủ <small>Đăng nhập lần cuối: 03:00 21, July</small></h1>
				</div>
		<br>
		<div class="box">
           
		<div class="box-header">
			<div class="box col-lg-9">
					<div class="box-header">
						<h3 >Danh sách bộ đề</h3>
					</div>
					<div class="box-body">
						<div class="table-responsive">
							<table class="table table-noborder list-exam-temp">
								<tbody>
									<tr>
										<th>Bộ đề</th>
									</tr>
									 <% if (listExam && listExam.length) { %>
                            				<% listExam.forEach(exam => {  %>
										  <tr>
										  <td><a href="/begin-exam?examID=<%=exam._id%>"><span></span><%=exam.name%></a></td>
										<td><%=exam.name%></td> <!--Tên bộ đề-->
											<% listExam.forEach(exam => { %>
											<% }) %>
										<td>
											<div class="user-panel-actions">
												<a href="#"></a>
												<button type="button" class="btnEditExam" _examID="<%=exam._id%>" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Thay đổi</button>
												<a href="#"></a>
												<a href="#"><i class="fas fa-trash-alt btnRemoveExam" _examID="<%=exam._id%>"></i></a>
											</div>
										</td>
									</tr>
										 <% }) %>
									<% } %>
								</tbody>
							</table>
						</div>
					</div>
					<div class="box-footer">
						<p style="margin-left: 15px">Nhấp vào tên bộ đề để xem chi tiết</p>
						
					</div>
				</div>
			</div>
		
	</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thay đổi</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
         
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>
</main>

<%- include('../dashboard/footer') %>
<script>
$(document).on('click', '.btnRemoveExam', function(e) {
		e.preventDefault();
		let examID = $(this).attr('_examID');
		
		console.log({ examID})

		if (window.confirm('Bạn có chắc chắn xóa không?')) {
            $.ajax({
				url: `/exam/remove-exam/?examID=${examID}`,
				method: 'GET',
				success: resp => {

					console.log({ resp })

					if(!resp.error){

						$(this).closest("tr").remove();
						return toastr['success']('Xóa thành công', 'Thông báo');

					}else{

						return toastr['error']('Xóa thất bại', 'Thông báo');
					}
				},
				error: err => console.log({ err })
			});
        }
    })
	$(document).on('click', '.btnEditExam', function () {

        let examID = $(this).attr('_examID');
		
		if(examID && examID.length){
			$.ajax({
				url: `/exam/info-exam/${examID}`,
				method: 'GET',
				success: resp => {

					console.log({ resp })

					let { _id: id, name, description, level, subjects: subjectID} = resp.data

					console.log({ id, name, description, level, subjectID })
					
					if(!resp.error){
						$('#nameExam').val(name);
						$('#descriptionExam').val(description);
						
						$('#level').val(level);
						$('#level').trigger('change');

						$('#subjectID').val(subjectID._id);
						$('#subjectID').trigger('change');

						$('.btnCreateExam').attr('_examID', id);

					} else {

						return toastr['error']('Thất bại', 'Thông báo');
					}
				},
				error: err => console.log({ err })
			});
		}
	});
</script>
