<%- include ('../partials/header') %>




<div class="container-fluid" id="body">
    <nav class="third-nav">
        <div class="row">
            
        </div>
    </nav>
   
    <div class="row" id="test">
        <div class="col-sm-16 col-md-18">
            <div id="breadcrumbs_mobile" class="col-xs-24 col-sm-24 box-coll hidden-lg hiddent-md ">
                <div class="col-xs-20 col-sm-20 title"></div>
            </div>
            <div class="clearfix"></div>
            <div class="detail view-list">
                <div class="panel panel-default result_width edit_panel" data-spy="affix" data-offset-top="250">
                    <!--         <div class="panel-heading">Thông tin đề thi</div> -->
                    <div class="panel-body edit_panel">
                        <h1 class="m-bottom affix_hidden"><%=infoUnit.name%></h1>
                        <div class="row">
                            <div class="col-lg-8 col-xs-16 col-sm-12 col-md-8 affix_hidden">
                                
                                    
                                        <label>Số từ vựng: <label><%=listPara && listPara.length %> </label>
                                    
                                
                            </div>
                        </div>
                    </div>
                </div>
                
            <div>
                </div>
                <div class="testing m-bottom get_width" id="top">
                    <form action="" method="post" id="frm-submit" class="col-xs-24 col-sm-24 col-md-24">
                        <input type="hidden" value="1" name="save_test"/>
                        <input type="hidden" value="47" name="exam_id"/>
                        <input type='hidden' id='current_page'/>
                        <input type='hidden' id='show_per_page'/>
                        <div id="questionlist" data-exam-id="47">
                        
                        <div class="question-box">
                                <div class="panel panel-default question-item " data-question-number="1">
                                <% listPara && listPara.length && listPara.forEach(paragraph => { %>
                                    <div class="panel-body" id="question2">
                                        <p class="m-bottom question">
                                            <strong class="text-red questionOfExam" _paragraphID = "<%=paragraph._id%>"><%=paragraph.numerical %> </strong>
                                        </p>
                                            <div class="row">
                                                    <div class="col-sm-6">
                                                            <img width="100" height="auto" src="../storage/images/<%=paragraph.image%>" alt="<%=paragraph.image%>">
                                                        </div> 
                                                        <div class="col-sm-6" style="flex-wrap:wrap float:right";>
                                                                <tr>
                                                                    <h1>English: <%=paragraph.english%></h1>
                                                                    <h1>Translate:<%=paragraph.tiengvietese%> </h1>
                                                                    </tr>
                                                        </div>
                                                    </div>
                                    </div>
                                <% }) %>
                                </div>
                            </div>    
                            
                            
                        </div>
                    </form>
                    <div class="clearfix"></div>
                    
                    
                    
                </div>
            </div>
        </div>
    <%- include ('../partials/sidebar') %>
    <%- include ('../partials/footer') %>

   
 <script>

//     $(document).on('click', '.btnSendTest', function (e) {
// 		e.preventDefault();
//         let examID = $('.questionOfExam').attr('_examID');

//         let correctNumber = 0;
//         let unfinishQuestion;
//         let falseArr = [];
//         let trueArr = [];
//         let point;
		
// 		if(examID){
//                 $.ajax({
//                     url: `/exam/info-exam/${examID}`,
//                     method: 'GET',
//                     success: resp => {
//                         if(!resp.error){
//                             let infoExam = resp.data;
//                                 for(let j=0; j < infoExam.question.length; j++){
//                                     for(let i=0 ; i < arrResult.length; i++){
//                                     //Câu trả lời sai
//                                     if(arrResult[i].questionID == infoExam.question[j]._id && arrResult[i].correct.toString() !== infoExam.question[j].correct.toString()){
//                                         falseArr.push(arrResult[i].questionID)
//                                     }

//                                     //Câu trả lời đúng
//                                     if(arrResult[i].questionID == infoExam.question[j]._id && arrResult[i].correct.toString() == infoExam.question[j].correct.toString()){
//                                         correctNumber += 1;
//                                         trueArr.push(arrResult[i].questionID)
//                                     }

//                                     unfinishQuestion = infoExam.question.length - arrResult.length;

//                                 }
//                             }

//                             //let dontCompleteNumber = infoExam.question.length - arrResult.length;

//                             // console.log(`Số câu sai: ${falseNumber}`);

//                             //console.log(`Sô câu chưa làm: ${unfinishQuestion}`);

//                             //console.log(`Những câu sai: ${falseArr}`);

//                             //console.log(`Những câu đúng: ${trueArr}`);


//                             point = (10/infoExam.question.length)*correctNumber;
//                             //console.log(`Điểm của bạn là: ${point}`);


//                             //console.log(falseArr, trueArr, point)
//                         if(unfinishQuestion > 0){

//                             if (window.confirm(`Bạn có ${unfinishQuestion} câu chưa làm. Bạn có chắc chắn nộp bài không?`)) {
//                                 if(falseArr.length || trueArr.length){
//                                     $.ajax({
//                                     url: `/result-exam`,
//                                     method: 'POST',
//                                     data: { point, falseArr, trueArr, examID, unfinishQuestion },
//                                     success: resp => {

//                                         let resultID = resp.data._id;
                                        
//                                         console.log(resp)

//                                         if(!resp.error){

//                                             window.location.href = `/result-exam?resultID=${resultID}&examID=${examID}`
//                                         }
//                                     },
//                                     error: err => console.log({ err })
//                                     });

//                                 }
//                             }

//                         } else {

//                             if (window.confirm(`Bạn có chắc chắn nộp bài không?`)) {
//                                 if(falseArr.length || trueArr.length){
//                                     $.ajax({
//                                     url: `/result-exam`,
//                                     method: 'POST',
//                                     data: { point, falseArr, trueArr, examID, unfinishQuestion },
//                                     success: resp => {

//                                         let resultID = resp.data._id;
                                        
//                                         console.log(resp)

//                                         if(!resp.error){

//                                             window.location.href = `/result-exam?resultID=${resultID}&examID=${examID}`
//                                         }
//                                     },
//                                     error: err => console.log({ err })
//                                     });

//                                 }
//                             }

//                         }
                            
//                         }
                        
//                     },
//                     error: err => console.log({ err })
//                 });

// 		}

// 	});

//     let arrResult = [];
//     $(`.chooseAnswer`).on('change', function() {
//         let questionID = $(this).attr('_question');
//         let numberQus = $(this).attr('_numberQus');
//         let correct =  $(`input[name="answer${numberQus}"]:checked`).val();

//         if(questionID && correct){
//             for (var i =0; i < arrResult.length; i++){
//                 if (arrResult[i].questionID === questionID) {
//                     arrResult.splice(i,1);
//                     break;
//                 }
//             }
//             arrResult.push({ questionID, correct })
//             console.log(arrResult)
//         }
//     });

 </script>

