<%- include ('../partials/header') %>
<section>
   <div class="container-fluid" id="body">
      <nav class="third-nav">
         <div class="row">
            <div class="bg">
               <div class="clearfix">
                  <div class="col-xs-24 col-sm-18 col-md-18">
                     <span class="current-time">Thứ bảy, 04/04/2020, 12:14</span>
                  </div>
               </div>
            </div>
         </div>
      </nav>
      <div class="row">
         <div class="col-xs-24 col-sm-15 col-md-15">
            <!--Start of Tawk.to Script-->
            <!--End of Tawk.to Script-->
         </div>
         <div class="col-xs-24 col-sm-9 col-md-9">
         </div>
      </div>
      <div class="row" id="test">
         <div class="col-sm-16 col-md-18">
            <div class="test">
           
               <div class="test viewlist">
                  <div class="panel panel-default">
                     <div class="panel-body">
                        <div class="border-bottom">
                           <div class="pull-left cat-info">
                              <em class="fa fa-folder-open-o">&nbsp;</em>
                              <a href="/vi/test/dai-cuong/" title="Đại Cương">Đại Cương</a> »
                              <a href="/vi/test/Duong-Loi-Cach-Mang-Cua-Dang-CS-Viet-Nam/" title="Đường Lối Cách Mạng Của Đảng CS Việt Nam">Đường Lối Cách Mạng Của Đảng CS Việt Nam</a>
                           </div>
                           <ul class="exam-info list-inline pull-right form-tooltip">
                              <li class="pointer" data-toggle="tooltip" data-original-title="Số câu"><em class="fa fa-heart-o">&nbsp;</em>40<span class="hidden-xs"> câu hỏi</span></li>
                              <li class="pointer" data-toggle="tooltip" data-original-title="Thời gian"><em class="fa fa-clock-o">&nbsp;</em>30<span class="hidden-xs"> phút</span></li>
                           </ul>
                           <div class="clearfix"></div>
                        </div>
                        
                        <h2>
                           <a href="/vocabulary/?unitID=<%=infoUnit._id%>" title="Vocabulary"><strong>Vocabulary</strong></a>
                        </h2>
                        
                        <ul class="list-inline help-block">
                           <li><em class="fa fa-clock-o">&nbsp;</em>11:38 04/08/2019</li>
                           <li><em class="fa fa-search">&nbsp;</em>Đã xem: 2424</li>
                           <li><em class="fa fa-comment-o">&nbsp;</em>Bình luận: 0</li>
                        </ul>
                        <p class="hometext">Đường Lối Cách Mạng Của Đảng CS Việt Nam (Luyện phần 2)</p>
                     </div>
                  </div>
                </div>

                <div class="test viewlist">
                  <div class="panel panel-default">
                     <div class="panel-body">
                        <div class="border-bottom">
                           <div class="pull-left cat-info">
                              <em class="fa fa-folder-open-o">&nbsp;</em>
                              <a href="/vi/test/dai-cuong/" title="Đại Cương">Đại Cương</a> »
                              <a href="/vi/test/Duong-Loi-Cach-Mang-Cua-Dang-CS-Viet-Nam/" title="Đường Lối Cách Mạng Của Đảng CS Việt Nam">Đường Lối Cách Mạng Của Đảng CS Việt Nam</a>
                           </div>
                           <ul class="exam-info list-inline pull-right form-tooltip">
                              <li class="pointer" data-toggle="tooltip" data-original-title="Số câu"><em class="fa fa-heart-o">&nbsp;</em>40<span class="hidden-xs"> câu hỏi</span></li>
                              <li class="pointer" data-toggle="tooltip" data-original-title="Thời gian"><em class="fa fa-clock-o">&nbsp;</em>30<span class="hidden-xs"> phút</span></li>
                           </ul>
                           <div class="clearfix"></div>
                        </div>
                        
                        <h2>
                           <a href="/paragraph?unitID=<%=infoUnit._id%>" title="Paragraph"><strong>Paragraph</strong></a>
                        </h2>
                        
                        <ul class="list-inline help-block">
                           <li><em class="fa fa-clock-o">&nbsp;</em>11:38 04/08/2019</li>
                           <li><em class="fa fa-search">&nbsp;</em>Đã xem: 2424</li>
                           <li><em class="fa fa-comment-o">&nbsp;</em>Bình luận: 0</li>
                        </ul>
                        <p class="hometext">Đường Lối Cách Mạng Của Đảng CS Việt Nam (Luyện phần 2)</p>
                     </div>
                  </div>
                </div>
                <div class="test viewlist">
                  <div class="panel panel-default">
                     <div class="panel-body">
                        <div class="border-bottom">
                           <div class="pull-left cat-info">
                              <em class="fa fa-folder-open-o">&nbsp;</em>
                              <a href="/vi/test/dai-cuong/" title="Đại Cương">Đại Cương</a> »
                              <a href="/vi/test/Duong-Loi-Cach-Mang-Cua-Dang-CS-Viet-Nam/" title="Đường Lối Cách Mạng Của Đảng CS Việt Nam">Đường Lối Cách Mạng Của Đảng CS Việt Nam</a>
                           </div>
                           <ul class="exam-info list-inline pull-right form-tooltip">
                              <li class="pointer" data-toggle="tooltip" data-original-title="Số câu"><em class="fa fa-heart-o">&nbsp;</em>40<span class="hidden-xs"> câu hỏi</span></li>
                              <li class="pointer" data-toggle="tooltip" data-original-title="Thời gian"><em class="fa fa-clock-o">&nbsp;</em>30<span class="hidden-xs"> phút</span></li>
                           </ul>
                           <div class="clearfix"></div>
                        </div>
                        
                        <h2>
                           <a href="/sound?unitID=<%=infoUnit._id%>" title="Sound"><strong>Sound</strong></a>
                        </h2>
                        
                        <ul class="list-inline help-block">
                           <li><em class="fa fa-clock-o">&nbsp;</em>11:38 04/08/2019</li>
                           <li><em class="fa fa-search">&nbsp;</em>Đã xem: 2424</li>
                           <li><em class="fa fa-comment-o">&nbsp;</em>Bình luận: 0</li>
                        </ul>
                        <p class="hometext">Đường Lối Cách Mạng Của Đảng CS Việt Nam (Luyện phần 2)</p>
                     </div>
                  </div>
                </div>
               
           

               <div class="text-center">
                  <ul class="pagination">
                     <li class="disabled"><a href="#">&laquo;</a></li>
                     <li class="active"><a href="#">1</a></li>
                     <li><a rel="next" title="Trắc nghiệm  -  Trang 2" href="/vi/test/page-2/">2</a></li>
                     <li class="disabled"><span>...</span></li>
                     <li><a rel="next" title="Trắc nghiệm  -  Trang 16" href="/vi/test/page-16/">16</a></li>
                     <li><a rel="next" title="Trắc nghiệm  -  Trang 2" href="/vi/test/page-2/">&raquo;</a></li>
                  </ul>
               </div>
            </div>
         </div>
<%- include ('../partials/sidebar') %>
<%- include ('../partials/footer') %>
  <script>
// //    $(document).on('click', '.btnDangNhap', function(e) {
// //        e.preventDefault();
// //        let email = $('#email').val().trim();
// //        let password = $('#password').val().trim();
   
// //        if (!email || !password) {
// //            toastr['warning']('Email hoặc mật khẩu không được để trống', 'Thông báo');
// //        } else {
// //            $.ajax({
// //                url: `/user/login`,
// //                method: 'POST',
// //                data: {
// //                    email, password
// //                },
// //                success: resp => {
   
// //                    //console.log({ resp })
   
// //                    if (!resp.error) {
// //                        toastr['success']('Đăng nhập thành công', 'Thông báo');
// //                        setTimeout(function(){ 
// //                            location.href = `/`;
// //                        }, 500);
   
// //                    } else {
   
// //                        return toastr['warning']('Email hoặc mật khẩu không chính xác', 'Thông báo');
// //                    }
// //                },
// //                error: err => console.log({
// //                    err
// //                })
// //            });
// //        }
// //    })
   
// //    // $(document).on('click', '.btnRegister', function(e) {
// //    //     e.preventDefault();
// //    //     location.href = "/register"
// //    // })
   
</script>