
<%- include ('../partials/header') %>
<div class="container-fluid" id="body">
    <nav class="third-nav">
        <div class="row">
            
        </div>
    </nav>
    
    <div class="row" id="test">
        <div class="col-sm-16 col-md-18">
            <div id="breadcrumbs_mobile" class="col-xs-24 col-sm-24 box-coll hidden-lg hiddent-md ">
                <div class="col-xs-20 col-sm-20 title"></div>
            </div>
            <div class="clearfix"></div>
            <div class="detail view-list">
                <div class="panel panel-default result_width edit_panel" data-spy="affix" data-offset-top="250">
                    <!--         <div class="panel-heading">Thông tin đề thi</div> -->
                    <div class="panel-body edit_panel">
                        <h1 class="m-bottom affix_hidden"><%=infoUnit.name%></h1>
                        <div class="row">
                            <div class="col-lg-8 col-xs-16 col-sm-12 col-md-8 affix_hidden">
                                <div class="row exam-info">
                                    
                                        <label>Số từ vựng: <label><%=listVocabulary && listVocabulary.length %> </label>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div>
                </div>
                <div class="testing m-bottom get_width" id="top">
                    <form action="" method="post" id="frm-submit" class="col-xs-24 col-sm-24 col-md-24">
                        <input type="hidden" value="1" name="save_test"/>
                        <input type="hidden" value="47" name="exam_id"/>
                        <input type='hidden' id='current_page'/>
                        <input type='hidden' id='show_per_page'/>
                        <div id="questionlist" data-exam-id="47">
                            <div class="question-box">
                                <div class="panel panel-default question-item " data-question-number="1">
                                <% listVocabulary && listVocabulary.length && listVocabulary.forEach(vocabulary => { %>
                                    <div class="panel-body" id="question2">
                                        <p class="m-bottom question">
                                            <strong class="text-red questionOfExam" _vocabularyID = "<%=vocabulary._id%>"><%=vocabulary.numerical %> </strong>
                                        </p>
                                            <div class="row">
                                       <div class="panel panel-default get_width">
                                                <div class="panel-body">
                                                    <div class="text-center imgposition">
                                                        <audio class="vocabulary">
                                                            <source src="../storage/images/<%=vocabulary.listen ? vocabulary.listen : ''%>" type="audio/mpeg">
                                                        </audio>
                                                        <img width="100" height="auto" src="../storage/images/<%=vocabulary.image%>" alt="<%=vocabulary.image%>">
                                                    </div>
                                                    <audio style="margin-left: 220px" controls>
                                                    <source src="../storage/images/<%=vocabulary.listen ? vocabulary.listen : ''%>" type="audio/ogg">
                                                    <source src="../storage/images/<%=vocabulary.listen ? vocabulary.listen : ''%>" type="audio/mpeg">
                                                    Your browser does not support the audio element.
                                                    </audio>
                                                </div>
                                            </div>
                                            <div class="col-sm-6" style="flex-wrap:wrap float:right";>
                                                    <tr>
                                                        <h1>English: <%=vocabulary.english%></h1>
                                                        <h1>Translate:<%=vocabulary.tiengvietese%> </h1>
                                                        <h1>Spelling: <%=vocabulary.spelling%></h1>
                                                    </tr>
                                            </div>
                                        </div>
                                            </div>
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
<%- include ('../partials/sidebar') %>
<%- include ('../partials/footer') %>


<script>

    // $(".imgposition").click(function() {
    //     $(this).find(".vocabulary")[0.5].play();
    // });

    // $(document).on('click', '.btnAddUnit', function(e) {
    //     e.preventDefault();
    //     let courseID = $('#courseID').val();
    //     let name        = $('#name-unit').val().trim();
        
    //     if(!name && !courseID){
    //         return toastr['error']('Tên bộ đề không được để trống', 'Thông báo');
    //     } 
    //     $.ajax({
    //         url: `/unit/insert-unit`,
    //         method: 'POST',
    //         data: { name, courseID },
    //         success: resp => {
    //             console.log({ resp })
    //             if(!resp.error){
    //                 toastr['success']('Thêm thành công', 'Thông báo');
    
    //             }else{
    //                 return toastr['error']('Thêm thất bại', 'Thông báo');
    //             }
    //         },
    //         error: err => console.log({ err })
    //     });
    // })

<script/>